[user]
	name = Qodirbek
	email = your-email@example.com
[safe]
	directory = /storage/emulated/0/documents/pydroid3/notcoin-webapp
	directory = /storage/emulated/0/documents/pydroid3/notcoin-webapp
	directory = /storage/emulated/0/Documents/pydroid3/notcoin-webapp
	directory = /storage/emulated/0/Documents/Pydroid3/notcoin-webapp
